@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Electrolize);

html, body {
    height: 100%;
    margin: 0px;
    background-image: url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    background-color: rgb(75, 151, 119) ;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-width: thin;          /* "auto" or "thin"  */
    scrollbar-color: rgba(255, 255, 255, 0.336)  teal;   /* scroll thumb & track */ 
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: teal;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.336) ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid teal;  /* creates padding around scroll thumb */
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }

.material-icons.social{
  font-size: 40px;
  color: white;
  display: inline-block;
}

.material-icons.logo { 
  position: relative;
  font-size: 40px; 
  flex: 1;
  color: white;
  margin: 10px;
  animation: logoanim 2s infinite;
  /* animation-timing-function: ease; */
}

@keyframes logoanim{
  0%{
    left: 1%;
  }
  50%{
    left: 0%;
  }
  100%{
    left: 1%;
  }
}


.material-icons.btn { 
  font-size: 40px; 
  flex: 1;
  color: white;
  top: -10%;
  margin: 10px;
  transition: 0.1s ease;
  transform-origin: center center;
  margin-right: 20px;
}

.bod{
    background-color: rgba(52, 104, 82, 0.8);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header{
        height: 10%;
        width: 100%;
        z-index: 1;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.068);
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        position: sticky;
}

.title{
  font-family: 'Electrolize';
    font-size: 30px;
    font-weight: 600;
    color: white;
    flex: 25;
}

.name{
  opacity: 0;
  font-family: 'Electrolize';
  font-size: 30px;
  font-weight: 600;
  color: white;
  flex: 3;
  align-items: center;
  margin-top: 10px;
  animation:opac 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* z-index: -9; */
  /* background-color: rgba(0, 128, 128, 0.795); */
}

.nameprof{
  opacity: 0;
  font-family: 'Electrolize';
  font-size: 18px;
  font-weight: 600;
  color: white;
  flex: 3;
  margin-top: 0px;
  align-items: center;
  animation:opac 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  /* background-color: rgba(0, 128, 128, 0.795); */
}

.detailtopic{
  font-family: 'Electrolize';
  font-size: 19px;
  font-weight: 00;
  color: white;
  flex: 3;
  margin-top: 10px;
  align-items: center;
  /* background-color: rgba(0, 128, 128, 0.795); */
}

.detailset{
  flex: 1;
  opacity: 0;
  /* background-color: teal; */
  margin: 0px;
  flex-direction: column;
  align-items: center;
  animation: detail 0.5s;
  animation-fill-mode: forwards;
}

.detailset.one{animation-delay: 2.5s;}
.detailset.two{animation-delay: 3s;}
.detailset.three{animation-delay: 3.5s;}

@keyframes detail{
  
  0%{margin: 0px; opacity: 0;}
  100%{margin:10px; opacity: 1;}
}

.detailq{
  flex: 1;
  /* background-color: rgba(0, 128, 128, 0.795); */
  margin: 10px;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.nameinfo{
  opacity: 0;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: white;
  flex: 10;
  align-items: center;
  /* background-color: rgba(0, 128, 128, 0.795); */
  margin-top: 0px;
  animation:opac 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.detailinfo{
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 500;
  color: white;
  flex: 1;
  align-items: center;
  /* background-color: rgba(0, 128, 128, 0.795); */
  margin-top: 10px;
}


.dropdown{
  left:calc(105% - 300px);
  transform: translateX(-50px);
  position: absolute;
  width: 300px;
  height: 0px;
  float: right;
  background-color: rgba(0, 128, 128, 0.795);
  flex: 1 0 100%;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.box{
  margin: 5px;
  width: 95%;
  height: 110px;
  flex: auto;
  display: flex;
  flex-direction: row;
}

.boxin{
  flex: auto;
  /* background-color: rgba(255, 255, 255, 0.151); */
  margin: 5px;
  height: 0px;
  width: 100px;
  animation-duration: 1s ease;
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.fab{
  font-size: 0px;
  color: white;
  opacity: 0;
}

.fas{
  font-size: 60px;
  color: white;
  opacity: 1;
}

.fab:hover{color:  rgba(88, 194, 150, 1); transition: 0.5s;}
.fas:hover{color:  rgba(88, 194, 150, 1); transition: 0.5s;}
 
  
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 1s;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.profile{
  flex: 1;
  background-color: rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: row;
}

.details{
  flex: 1;
  /* background-color: rgba(0, 0, 0, 0.185); */
  display: flex;
  flex-direction: row;
}

.profile-info{
  /* opacity: 0; */
  margin: 10px;
  margin-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;

}

.profile-photo{
  flex: 1;
}

.profile-photo{
  width:200px;
  height: auto;
  margin: 20px;
  z-index: -9;
  /* animation: bounce-4 2s linear; */
  animation:opac-phot 1.5s;
  animation-timing-function: ease-out;
  float: left;
}

@keyframes opac-phot {
  0%       {opacity: 0; }
  100%     {opacity: 1;}
}

@keyframes opac {
  0%       {opacity: 0; margin:0px; }
  100%     {opacity: 1; margin:10px;}
}

@keyframes bounce {
  0%       {margin-top: 15px; opacity: 0;}
  25%, 75% { margin-top: 25px; }
  50%      {margin-top: 20px; }
  100%     {margin-top: 20px; opacity: 1;}
}


.divider{
  background-color: rgba(255, 255, 255, 0.452);
  height: 4px;
  width: 90%;
  border: 0px;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  animation: opac 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}

.skills{
  background-color: teal;
  flex-direction: column ;
  display: flex;
}

.skilltitle{
  font-family: 'Electrolize';
  font-size: 30px;
  font-weight: 600;
  color: white;
  flex: 3;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
}

.skilltags{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.tagline{
  display: flex;
  flex-direction: row;
}

.w3-tag{
  font-family: 'Montserrat';
  font-weight: 500 ;
  margin: 5px;
  width: fit-content;
  padding: 2px;
  -webkit-box-shadow: 4px 5px 20px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 20px -7px rgba(0,0,0,0.75);
box-shadow: 4px 5px 20px -7px rgba(0,0,0,0.75);
  /* background-color: darkslategray; */
  transition: 0.1s ease-in;
  flex: 1;
}


.w3-tag:hover{
  transform: scale(1.05);
}

.skilllink{
  text-decoration: none;
}
.skilllink:hover{
  text-decoration: none;
  color: #222222;
}




.timelinesec{
 
  background-color: rgb(0, 109, 109);
  flex-direction: row ;
  display: flex;
}

.education{
  margin-top: 30px;
  flex: 1;
  flex-direction: column ;
  display: flex;
}

.line{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 10px;}

.timedetails{
  display: flex;
  flex-direction: column;
  flex: 15;
}

.bullet{
  margin: 0px 20px 0px 50px;
  flex: 1;
  text-align: center;
  align-items: center ;
}

.material-icons.bullet { 
  font-size: 50px; 
  flex: 1;
  color: white;
  /* top: -10%; */
  margin: 10px;
  transition: 0.1s ease;
  transform-origin: center center;
  margin-right: 20px;
}


.timedetail{
  /* opacity: 0; */
  margin-top: 10px;
  font-family: 'Electrolize';
  font-size: 18px;
  font-weight: 600;
  color: white;
  flex: 1;
}

.timeyears{
  /* opacity: 0; */
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: white;
  flex: 1;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .dropdown {
    transform: translateX(-25px);
  }
  .profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .profile-info{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .details{
    flex-direction: column;
  }

  .w3-tag{
    margin: 3px;
    font-size: 12px;
    flex: 1;
  }

  .skilltags{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .segement{
    display: flex;
    flex-direction: row;
  }

  .tagline{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }

  .nameinfo{
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
text-align-last:center;

  }

  .skilltitle{ margin-left: 20px;}

.timelinesec{
  flex-direction: column;
}

}