  .path,#back {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear alternate infinite;
    /* animation-fill-mode: forwards; */
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }


  #front{
  animation: popup 2s ease-out ;
  /* transform-origin: bottom; */
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: center;
  opacity: 0;
  /* animation-direction: alternate; */
  }

  @keyframes popup{
      from{
          transform: translateY(50px);
          transform: scale(0.9);
          opacity: 0;
      }
      to{
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
  }
