@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.react-photo-album--photo {
  object-fit: cover;
}

:root {
  --main-bg-color: #f3f6fd;
  --sub-bg-color: #fefefe;
  --mid-bg-color: #fff;
  --resp-nav-bg: #1c2129;
  --resp-nav-font: #d9dddf;
  --main-font-color: #1f1c2e;
  --sub-font-color: #a2a3a3;
  --switcher-bg: #fff;
  --shadow-color: #rgba(0, 0, 0, 0.15);
  --color-text: #a2a3a3;
  --color-text-active: #1f1c2e;
  --color-arrow: #656565;
  --about-accent: #1c2129;
  --button-bg: #1c2129;
  --button-font: #fff;
}

[data-theme="dark"] {
  --main-bg-color: #080c0c;
  --sub-bg-color: #111419;
  --mid-bg-color: #1c2129;
  --resp-nav-bg: #1c2129;
  --resp-nav-font: #d9dddf;
  --main-font-color: #d9dddf;
  --sub-font-color: #fff;
  --switcher-bg: #111419;
  --shadow-color: #rgba(0, 0, 0, 0.15);
  --color-text: #1c2129;
  --color-text-active: #d9dddf;
  --color-arrow: #88888852;
  --about-accent: #d9dddf;
  --button-bg: #1c2129;
  --button-font: #fff;
}

$bg-color: #f3f6fd;
$main-font-color: #1f1c2e;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  z-index: 2;
  scroll-behavior: smooth;
  // transition: background-color 400ms cubic-bezier(0.995, -0.265, 0.855, 0.505);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  color: $main-font-color;
  color: var(--main-font-color);
}

body {
  background-color: $bg-color;
  background-color: var(--main-bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.App.open {
  margin-left: -75px;
}

.respNav {
  position: fixed;
  width: 75px;
  height: 100vh;
  background-color: var(--resp-nav-bg);
  z-index: 99;
  right: 0;
  transform: translateX(100%);
  transform-origin: right center;
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.respNav.open {
  right: 0px;
  transform: translateX(0);
}

.respNavToggleButton {
  color: var(--resp-nav-font);
  font-size: 2em;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.respNav {
  overflow-y: auto;
  overflow-x: hidden;
  .links {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    justify-content: space-evenly;
    div {
      color: var(--resp-nav-font);
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      // transform: rotate(90deg);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 820px) {
  .App.open {
    margin-left: 0px !important;
  }

  .respNav.open {
    right: 0px;
    transform: translateX(100%) !important;
  }
}

.App {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  .nav {
    width: 100%;
    max-width: 1366px;
    height: 125px;
    margin: 0 auto;
    padding: 0 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-title {
      font-size: 2.25em;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 1.25em;
      font-weight: 500;

      .res-nav-toggle {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.25em;
        display: none;
        cursor: pointer;
        opacity: 1;
        transition: margin-left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      .res-nav-toggle.open {
        opacity: 0;
        pointer-events: none;
      }

      .nav-link {
        cursor: pointer;
        position: relative;
        text-decoration: none;
        color: $main-font-color;
        color: var(--main-font-color);
      }

      .nav-link:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -5px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $main-font-color;
        background: var(--main-font-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .nav-link:hover:after {
        width: 100%;
        left: 0;
      }
      .selected {
        font-weight: 700;
      }
    }
  }

  .page {
    width: 100%;
    height: fit-content;
  }

  .page-wrapper {
    width: 100%;
    max-width: 1366px;
    min-height: calc(658px - 125px);
    height: fit-content;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.blob {
  position: fixed;
  left: -650px;
  top: -500px;
  z-index: -1;
  animation: blob-anim 50s ease infinite alternate;
}

footer {
  width: 100%;
  height: 300px;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;

  .title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .email {
    margin-top: 10px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.75em;
    margin: 25px 0 50px;
    * {
      color: var(--main-font-color);
      cursor: pointer;
    }
  }
}

.not-found {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 30px;
    width: 35%;
    min-width: 350px;
    height: auto;
  }
  h1 {
    font-size: 5em;
  }

  .error {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a {
    margin-top: 25px;
    text-decoration: none;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--button-font);
    border-radius: 50px;
  }
}

.heroCardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: #000;
  top: -20px;
  left: -20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1366px) {
  .blob {
    left: -880px;
  }
}

@media screen and (max-width: 820px) {
  // .App{
  //     transform: translateX(-50px);
  // }

  .blob {
    left: -1120px;
  }
  .App .nav {
    .nav-links {
      .res-nav-toggle {
        display: flex;
      }

      .nav-link {
        display: none;
      }
    }
  }
}

@keyframes blob-anim {
  from {
    transform: rotate(0deg) translateY(0px);
  }
  to {
    transform: rotate(360deg) translateY(20px);
  }
}

// .mb-50{
//     margin-bottom: 50px;
//     padding-bottom: 50px;
// }

.blobSVG {
  fill: var(--sub-bg-color);
}

.switcher {
  user-select: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -2px var(--shadow-color);
  background: var(--switcher-bg);
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  transition: background-color 400ms cubic-bezier(0.995, -0.265, 0.855, 0.505),
    box-shadow 100ms linear;

  &:hover {
    box-shadow: 0px 0px 30px -2px var(--shadow-color);
  }
  div {
    display: flex;
    align-items: center;
  }

  .arrow {
    margin: 0px 20px;
    color: var(--color-arrow);
    transition: all 400ms cubic-bezier(0.995, -0.265, 0.855, 0.505);
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;

    + div > i {
      transition: all 400ms cubic-bezier(0.995, -0.265, 0.855, 0.505);
      display: flex;
      align-items: center;
      color: var(--color-text);
    }

    &:checked {
      + div {
        .arrow {
          transform: rotate(-180deg);
        }

        > :last-child {
          color: var(--color-text-active);
        }
      }
    }

    &:not(:checked) {
      + div {
        > :first-child {
          color: var(--color-text-active);
        }
      }
    }
  }
}

.with-tooltip {
  position: relative;
}

.with-tooltip::after {
  content: attr(data-tooltip-content);
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  color: white;
  bottom: 115%;
  right: 50%;
  left: 50%;
  width: max-content;
  background-color: gray;
  opacity: 0;
  font-size: 0.8rem;
  visibility: hidden;
  transform: translate(-50%, 18px) scale(0.8);
  transition: visibility, opacity, transform 0.4s;
}

.with-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
